@using NerdDinner.Controllers
@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>@Html.DisplayFor(model => model.Title)</strong></h2>

<p>
    <strong>When: </strong>
    @Html.DisplayFor(model => model.EventDate)
</p>
<p>
    <strong>Where: </strong>
    @Html.DisplayFor(model => model.Address),
    @Html.DisplayFor(model => model.Country)
</p>
<p>
    <strong>Description: </strong>
    @Html.DisplayFor(model => model.Description)
</p>
<p>
    <strong>Organizer: </strong>
    @Html.DisplayFor(model => model.HostedBy)
    (@Html.DisplayFor(model => model.ContactPhone))
</p>
@{
    if (Model.IsHostedBy(Context.User.Identity.Name))
    {
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DinnerId }) |
            @Html.ActionLink("Back to List", "Index")
    </p>
    }
}
@{
    if (Request.IsAuthenticated)
    {
        if (Model.IsUserRegistered(Context.User.Identity.Name))
        {
    <font color="green">You are registered for this event!</font>
        }
        else
        {
    <div>

        @section scripts
        {
            <script>

                $('#register').click(function() {
                    @{
                        RSVPController rsvpController = new RSVPController();
                        rsvpController.Register(Model.DinnerId, Context.User.Identity.Name);
                    }
                    $(this).text("Thanks, see you there!");
                    $(this).css('color', 'green');
                });
            </script>

        }
    </div>
            <div id="register"><font color="red">Click here to register!</font></div>
            
        }
    }
    else
    {
    <p><a href="/Account/Login">Login</a> to RSVP for this event.</p>
    }
}
