@model NerdDinner.Models.DinnerFormViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dinner</legend>
        <p>
            @Html.Label("Dinner Title:")
            @Html.TextBox("Title", Model.Dinner.Title)
            @Html.ValidationMessage("Title", "*")
        </p>
        <p>
            @Html.Label("Event Date:")
            @Html.TextBox("EventDate", Model.Dinner.EventDate)
            @Html.ValidationMessage("Date", "*")
        </p>
        <p>
            @Html.Label("Description:")
            @Html.TextBox("Description", Model.Dinner.Description)
            @Html.ValidationMessage("Description", "*")
        </p>
        <p>
            @Html.Label("Address:")
            @Html.TextBox("Address", Model.Dinner.Address)
            @Html.ValidationMessage("Address", "*")
        </p>
        <p>
            @Html.Label("Country:")
            @Html.DropDownList("Country", Model.Countries)
            @Html.ValidationMessage("Country", "*")
        </p>
        <p>
            @Html.Label("Contact Phone #:")
            @Html.TextBox("ContactPhone", Model.Dinner.ContactPhone)
            @Html.ValidationMessage("ContactPhone", "*")
        </p>
        <p>
            @Html.Label("Latitude:")
            @Html.TextBox("Latitude", Model.Dinner.Latitude)
            @Html.ValidationMessage("Latitude", "*")
        </p>
        <p>
            @Html.Label("Longitude:")
            @Html.TextBox("Longitude", Model.Dinner.Longitude)
            @Html.ValidationMessage("Longitude", "*")
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}