@model NerdDinner.Models.DinnerFormViewModel

@{
    ViewBag.Title = "Map";
}

        <script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2" type="text/javascript"></script>
        <script src="/Scripts/Map.js" type="text/javascript"></script>


    <div id="theMap" style="position:absolute; right:150px; top:200px; width:600px; height:600px;"></div> 



@*@section Scripts {
    
    <script type="text/javascript">

        $(document).ready(function () {
            var latitude = @Model.Dinner.Latitude;
                var longitude = @Model.Dinner.Longitude;

                if ((latitude == 0) || (longitude == 0))
                    LoadMap();
                else
                    LoadMap(latitude, longitude, mapLoaded);
            });

            function mapLoaded() {
                var title = "@Html.Encode(Model.Dinner.Title)";
            var address = "@Html.Encode(Model.Dinner.Address)";

            LoadPin(center, title, address);
            map.SetZoomLevel(14);
        }

</script>

    @Scripts.Render("~/bundles/jqueryval")
}*@